.App {
  background-image: url("https://res.cloudinary.com/dgrvs6lst/image/upload/v1653344020/movie-project/qicnboxsegv4wg5e2vvz.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: rgb(197, 195, 195);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.App h5 {
  text-align: center;
}

.App h1 {
  font-size: 70px;
}

.contenedor {
  text-decoration: none;
  margin: auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}


a:link { text-decoration: none; color: white;} 